.roadmap_body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 3rem;
}

.roadmap_column h2 {
  font-size: 1.125rem;
  color: var(--dark-text-color);
}

.roadmap_column p {
  color: var(--light-text-color);
}

.roadmap_request_holder {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

@media (max-width: 480px) {
  .roadmap_body {
    margin-top: 0;
    grid-template-columns: 1fr;
  }

  .roadmap_column {
    width: 90%;
    margin: auto;
    margin-bottom: 2.25rem;
  }
}
