.roadmap_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--midnight-blue);
  border-radius: var(--main-border-radius);
  padding: 1.5rem 2rem;
}

.roadmap_header button {
  font-weight: 700;
}

.roadmap_header > div {
  display: flex;
  flex-direction: column;
  gap: 0.35rem;
}

.roadmap_header > div > button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.roadmap_header > div > p {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

@media (max-width: 480px) {
  .roadmap_header {
    border-radius: 0;
    padding: 1.5rem 1rem;
  }
}
