.reply_input {
  margin-top: 1.5rem;
  margin-left: 4.5rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 1rem;
}

.reply_input button {
  justify-self: flex-end;
}

@media (max-width: 480px) {
  .reply_input {
    margin-left: 0;
    grid-template-columns: 1fr;
  }

  .reply_input button {
    width: 100%;
  }
}
