.navbar {
  background-color: var(--midnight-blue);
  border-radius: var(--main-border-radius);
  padding: 1rem;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  max-height: 4.75rem;
  align-items: center;
}

.navbar svg {
  max-width: 24px;
  max-height: 24px;
}

.navbar_info_section {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar_info_section {
  font-size: 1.125rem;
}

.dropdown_holder {
  position: relative;
}

.dropdown_holder > button:first-of-type {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border: none;
  background-color: transparent;
  color: rgba(225, 225, 225, 0.75);
  cursor: pointer;
}

.dropdown_holder > button:first-of-type > span {
  font-weight: 700;
}

.navbar > button:last-of-type {
  justify-self: end;
}
