.logo_tile {
  border-radius: var(--main-border-radius);
  overflow: hidden;
  position: relative;
}

.logo_tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo_tile > div {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
  padding: 1rem;
  color: white;
}

.logo_tile > div > p > span {
  font-weight: 700;
  font-size: 1.25rem;
}

@media (max-width: 480px) {
  .logo_tile > div {
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .logo_tile > div > button {
    background-color: transparent;
    border: none;
  }
}
