.comments_page {
  width: 100%;
  max-width: 45.625rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 8.125rem 0;
}

.comments_holder_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
